*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0.1vmax;
}

.navbar {
  width: 100%;
  margin-top: 1px !important;
  margin-bottom: 5px !important;
  padding: 0.2rem 2rem !important;
  font-size: 1.1rem !important;
  display: flex;
  background-color: #daee24;
  transition: all 0.7s ease-in;
}

.padding {
  padding: 60px;
}

.card-img-top {
  padding: 0px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: hsl(239, 82%, 47%) !important;
  line-height: 140px;
}
.Typewriter__cursor {
  font-size: 2.2em !important;
  color: #070aac !important;
}

@media screen and (min-width: 1735px) {
  .navbar {
    background: #388fe6;
    width: 100%;
    flex-direction: column;
  }
}
